#div_button_label {
    width: 250px;
}

#button_state {
    margin-left: 20px;
    width: 100px;
}

#button_pin {
    margin-right: 100px;
    width: 200px;
}

#visu_form {
    float: right;
}

#div_chat_msg{
    margin-right: 30px;
}

/* 
#chat_card {
    width: 530px;
}

#keyboard_card {
    width: 530px;
}

#graph_card {
    width: 1080px;
}
*/

.flex {
    flex: 1;
    display: inline-flex;
}

.mdl-card {
    width: 530px;
    height: 268px;
}

select {
    height: 40px;
    background-color: white;
    box-shadow: 0 2px 0 white;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.6);
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 5px 0 5px;
}